<h1>new location<%= @location.name ? " in <b>#{@location.name}</b>" : ""  %></h1>
<form method="POST" action="/locations">
  <input type="text" name="name" placeholder="name of location" />
  <input type="submit" />
</form>
