<h1><%= @location.name %></h1>
<a href="/locations/#{@location.id}/maps/new">new map</a>
<ul>
  <% @location.maps.each do |map| %>
    <a href="/locations/#{@location.id}/maps/#{map.id}">
      <%= map.key %>
    </a>
  <% end %>
</ul>
