<h1>minimaps</h1>
<p>
  At its heart minimaps is an image uploading and tagging service with a focus on cartographic images.
</p>
<p>
A Location is the root of action on minimaps. It represents a place like "Jeff's Bedroom," or "The Moon". It is a repository for one or many Maps, which are images. Each Map supports the dropping of many Pins upon it, one per person.
</p>
<p>
When you drop a Pin (by clicking on the Map) you are prompted type in a name for the pin. Hit Enter and the pin is saved. You can move the pin by clicking anywhere else on the Map (that pin is "yours" now).
</p>
<p>
You can also click any Pin (including yours) to open up a sidebar for that Pin. You can do two things in it:
</p>
<p>
  <ol>
    <li>
      Type a comment (and submit it with the Enter key (you must have dropped a Pin yourself already to be allowed to comment))
    </li>
    <li>
      "Link" the Pin to another Location.
    </li>
  </ol>
</p>
<p>
To "link" a Pin do the following: Click the "link a location" link in the Pin sidebar. Start typing in the input. The results are auto-filled as you type with a one-second delay. Locations that are already linked are struck-through and not clickable (for now). Click one of the results. Now, that Location you selected is "linked" to this Pin and anyone can reach it from the Pin's sidebar.
</p>
<p>
Imagine this scenario: You drop a Pin on a Map for the Location called "Ohio". Then, you link your Pin to a separate Location called "Toledo" that has map images of the city. Later, another user can follow these links to the more zoomed-in/specific content.
</p>
<p>
Enjoy!
</p>
<h2>
  <a href="/locations">go to Locations list</a>
</h2>
