html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 2em;
}

img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.pin {
  width: 100px;
  height: 48px;
  position: absolute;
  background-color: black;
  padding: 2px;
  border-radius: 3px;
}

.template {
  display: none;
}

.pin .inner-rectangle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  text-align: center;
}

.pin .inner-rectangle .words {
  cursor: pointer;
  display: inline-block;
  margin: auto;
  font-size: 2em;
}

.pin .inner-rectangle input {
  height: 100%;
  width: 100%;
  display: block;
}

.pin .inner-rectangle input.inactive {
  display: none;
}

.pin .outer-triangle {
  position: absolute;
  left: 15px;
  top: 51px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
}

.pin .inner-triangle {
  position: absolute;
  left: 17px;
  top: 49px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
