html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.struck {
  text-decoration: line-through;
}

ol, ul {
  padding-left: 40px;
}

.pad {
  padding: 10px;
}

body {
  background-color: #FAFBFC;
}

.bit-name {
  font-style: italic;
}

.bit {
  padding: 5px;
  border-bottom: 2px dotted black;
}

.bit:last-child {
  border-bottom: none;
}

.sidebar-text-input {
  width: 90%;
  margin: 10px 5% 0 5%;
  min-height: auto;
  resize: none;
}

.box {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.box.wide {
  flex-direction: row;
}

.box.tall {
  flex-direction: column;
}

.imgs {
  position: relative;
  overflow: scroll;
}

.msgs {
  overflow: scroll;
  flex: 1;
  background-color: white;
}

#back-link {
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
}

#linker {
  overflow: scroll;
  flex: 1;
  background-color: white;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.msgs.wide {
  min-width: 25%;
  max-width: 25%;
  min-height: 100%;
  max-height: 100%;
}

.msgs.tall {
  min-width: 100%;
  max-width: 100%;
  min-height: 50%;
  max-height: 50%;
}

#linker.wide {
  min-width: 25%;
  max-width: 25%;
  min-height: 100%;
  max-height: 100%;
}

#linker.tall {
  min-width: 100%;
  max-width: 100%;
  min-height: 50%;
  max-height: 50%;
}

img {
  cursor: pointer;
}

img.wide {
  width: 100%;
  height: auto;
}

img.tall {
  height: 100%;
  width: auto;
}

input.name-input {
  margin: 0;
  height: 24px;
}

.pin {
  width: 100px;
  position: absolute;
  background-color: black;
  padding: 2px;
  border-radius: 3px;
}

.template {
  display: none;
}

.pin .inner-rectangle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  text-align: center;
}

.pin .inner-rectangle .words {
  cursor: pointer;
  display: inline-block;
  margin: auto;
}

.pin .inner-rectangle input {
  height: 100%;
  width: 100%;
  display: block;
}

.pin .inner-rectangle input.inactive {
  display: none;
}

.pin .outer-triangle {
  position: absolute;
  left: 15px;
  top: 27px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
}

.pin .inner-triangle {
  position: absolute;
  left: 17px;
  top: 25px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
