<h1>maps in <b><%= @location.name %></b></h1>
<ul>
  <% @location.maps.each do |map| %>
    <li>
      <a href="/locations/<%= @location.id %>/maps/<%= map.id %>">
        <%= map.key %>
      </a>
    </li>
  <% end %>
</ul>
