<h1>new map in <b><%= @location.name %></b></h1>
<form method="POST" action="/locations/<%= @location.id %>/maps" enctype="multipart/form-data">
  <input type="file" name="map" id="map" accept="image/*" />
  <input type="submit" />
</form>
