<script>
  let map;
  let img;
  let bag;
  let socket;
</script>

<div class="header">
  <h1 class="map">
    <%= @map.name %>
  </h1>
  <div class="upvote"></div>
  <div class="downvote"></div>
</div>

<div class="img">
  <img id="img" src="<%= @url %>"></img>
</div>

<div class="pin template">
  <div class="inner-rectangle">
    <span class="words">asdfasfdasdfasdf</span>
    <input class="name-input inactive" type="text" placeholder="name..." />
  </div>
  <div class="outer-triangle">
  </div>
  <div class="inner-triangle">
  </div>
</div>

<script type="text/javascript" src="/javascripts/guid.js"></script>
<script>
  function fit() {
    let bagPos = bag.getBoundingClientRect();

    if (bagPos.width > bagPos.height) {
      img.classList.remove('tall');
      img.classList.add('wide');
    } else {
      img.classList.remove('wide');
      img.classList.add('tall');
    }

    dropPins();
  }

  window.onload = function() {
    map = JSON.parse('<%= @map.to_json %>');
    map.id = map["_id"]["$oid"];

    bag = document.querySelector(".img")
    img = bag.querySelector("#img");

    fit();

    window.onresize = fit;

    img.addEventListener('click', (event) => {
      let maps = JSON.parse(localStorage.getItem('simpleMaps'));

      if (!maps) {
        maps = initializeMapStorage();
      }

      let sMap = maps[map.id];

      if (!sMap) {
        let key = Guid.newGuid();

        sMap = {
          key: key,
          name: null
        };

        maps[map.id] = sMap;

        localStorage.setItem('simpleMaps', JSON.stringify(maps));
      }

      console.log(sMap);

      let currentPin = bag.querySelector('#pin_' + sMap.key);

      drawPin(event, sMap.key, sMap.name, currentPin);
    });

    socket = new WebSocket('ws://localhost:9292');

    socket.addEventListener('open', function (event) {
      console.log("ws...g2g!");
    });

    socket.addEventListener('message', function (event) {
      console.log('Message from server: ', event.data);

      data = JSON.parse(event.data);

      console.log(data);

      if (data.map) {
        map = data.map;
        map.id = data["map"]["_id"]["$oid"];
      }

      let maps = JSON.parse(localStorage.getItem('simpleMaps'));

      if (data.id && maps) {
        let sMap = maps[data.id];

        if (sMap) {
          console.log(sMap.key + " vs " + data.key);

          if (sMap.key != data.key) {
            console.log("modifying pin...");

            let pin = bag.querySelector('#pin_' + data.key);

            drawPin({ trueX: data.x, trueY: data.y }, data.key, data.name, pin, false);
          } else {
            console.log("we sent this message so don't update");
          }
        }
      }
    });
  };

  function drawPin(event, key, name, pin, persist = true) {
    let xPercent;
    let yPercent;

    if (event.trueX && event.trueY) {
      xPercent = event.trueX;
      yPercent = event.trueY;
    } else {
      xPercent = event.offsetX / img.width;
      yPercent = event.offsetY / img.height;
    }

    // 27 and 35 are offsets for the origin of the box vs the
    // "correct" position
    let pos = img.getBoundingClientRect();
    let left = ((img.width * xPercent) - 27) + "px";
    let top = ((pos.y + window.scrollY) + (img.height * yPercent) - 35) + "px";

    if (pin) {
      pin.style.left = left;
      pin.style.top = top;

      if (!persist) {
        console.log("not persisting...");
        return;
      } else {
        console.log("persisting!");
      }

      var xhr = new XMLHttpRequest();

      sned(key, name, xPercent, yPercent, function(response) {
        console.dir(response);
        share(key, name, xPercent, yPercent);
      });
    } else {
      let pin = document.querySelector('.pin.template').cloneNode(true);
      let words = pin.querySelector('.words');

      while (words.firstChild) {
        words.removeChild(words.firstChild);
      }

      pin.classList.remove("template");
      pin.id = 'pin_' + key; 
      pin.style.left = left;
      pin.style.top = top;
      pin.style.display = "block";

      if (name) {
        console.log('rep');
        words.appendChild(document.createTextNode(name));
        bag.appendChild(pin);
        pin.style.width = words.clientWidth + 10 + "px";

        if (!persist) {
          console.log("not persisting...");
          return;
        } else {
          console.log("persisting!");
        }

        sned(key, name, xPercent, yPercent, function(response) {
          console.dir(response);
          share(key, name, xPercent, yPercent);
        });
      } else {
        if (!persist) {
          console.log("not persisting but never should have got here anyway...");
          return;
        } else {
          console.log("persisting! ...oh no");
        }

        let input = pin.querySelector('input');

        let keyup = function(event) {
          let name = input.value;

          if (event.code == "Enter") {
            if (name.length > 0) {
              sned(key, name, xPercent, yPercent, function(response) {
                console.dir(response);

                store({ name: name });

                input.removeEventListener("keyup", keyup, true);
                input.classList.add("inactive");
                words.style.display = "block";
                words.appendChild(document.createTextNode(name));
                pin.style.width = words.clientWidth + 10 + "px";

                share(key, name, xPercent, yPercent);
              });
            }
          }
        };

        input.addEventListener("keyup", keyup, true);
        words.style.display = "none";
        input.classList.remove("inactive");
        pin.style.width = "100px";
        bag.appendChild(pin);
      }
    }
  }

  function sned(key, name, x, y, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/maps/' + map.id + '/pins', true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function() { // Call a function when the state changes.
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        let r = JSON.parse(this.response);
        map = r.map;
        map.id = map["_id"]["$oid"];
        callback(r);
      }
    }
    xhr.send("name=" + name + "&key=" + key + "&x=" + x + "&y= " + y);
  }

  function store(obj) {
    let maps = JSON.parse(localStorage.getItem('simpleMaps'));
    let sMap = maps[map.id];

    Object.keys(obj).forEach(function (key) {
      sMap[key] = obj[key];
    });

    localStorage.setItem('simpleMaps', JSON.stringify(maps));
  }

  function share(key, name, x, y) {
    if (key && x && y && socket && map) {
      let data = JSON.stringify({id: map.id, name: name, key: key, x: x, y: y});

      socket.send(data);
    }
  }

  function dropPins() {
    let items;
    let pin;
    let left;
    let top;
    let words;
    let pos;
    let pins = bag.querySelectorAll('.pin:not(.template)');

    pins.forEach(function (pin) { pin.remove() });
    
    if (!map.pins) {
      return;
    }

    map.pins.forEach(function (item) {
      pos = img.getBoundingClientRect();
      left = (pos.x + (img.width * item.x) - 27) + "px";
      top = (pos.y + (img.height * item.y) - 35) + "px";

      pin = document.querySelector(".pin.template").cloneNode(true);

      words = pin.querySelector(".words");

      while (words.firstChild) {
        words.removeChild(words.firstChild);
      }

      words.appendChild(document.createTextNode(item.name));

      pin.id = "pin_" + item.key; 
      pin.style.left = left;
      pin.style.top = top;
      pin.classList.remove("template");

      bag.appendChild(pin);

      // must get width after appending to the document
      pin.style.width = words.clientWidth + 10 + "px";
    });
  }

  function initializeMapStorage() {
    localStorage.setItem('simpleMaps', JSON.stringify({}));
    return {};
  }
</script>
